<html>
<body>
<form action = "http://172.104.189.102:8081/process_get" method = "GET">
<label> Search for a tweet</label> <input type = "text" name = "search"><br>
         
<input type = "submit" value = "search">
</form>

<form action = "http://172.104.189.102:8081/view_tweets" method = "GET">
<input type = "submit" value = "View Tweets">
</body>
</html>